extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Eric Holt

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My name is Eric. I am a programmer. I live in Grand Rapids Michigan area. Through the day I work as a Techincal Support Rep. During the evenings I take classes to improve my skills in programming.
            | Some of the languages I have learned are C#, Java, Javascript. To see some of my work check out 
            a(href='/') the main page 
            | which highlights some of my projects. Click on a project to see them in action or review my code on github.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li node.js
          li Express
          li C#
          li Java
        h6 Contact Info

        //- Add your own contact info
        ul
          li 870-476-2612
          li ericwholt@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/ericwayneholt') LinkedIn
        a.button.expanded(href='https://github.com/Fatmoti') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  