<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    // generics
    link(rel='shortcut icon', href='/static/img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/static/img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/static/img/favicon-32.png', sizes='32x32')
    link(rel='icon', href='/static/img/favicon-57.png', sizes='57x57')
    link(rel='icon', href='/static/img/favicon-76.png', sizes='76x76')
    link(rel='icon', href='/static/img/favicon-96.png', sizes='96x96')
    link(rel='icon', href='/static/img/favicon-128.png', sizes='128x128')
    link(rel='icon', href='/static/img/favicon-192.png', sizes='192x192')
    link(rel='icon', href='/static/img/favicon-228.png', sizes='228x228')
    // Android
    link(rel='shortcut icon', sizes='196x196', href='“/static/img/favicon-196.png"')
    // iOS
    link(rel='apple-touch-icon', href='/static/img/favicon-120.png', sizes='120x120')
    link(rel='apple-touch-icon', href='/static/img/favicon-152.png', sizes='152x152')
    link(rel='apple-touch-icon', href='/static/img/favicon-180.png', sizes='180x180')
    // Windows 8  IE 10
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='/static/img/favicon-144.png')
    // Windows 8.1 + IE11 and above
    meta(name='msapplication-config', content='/xml/browserconfig.xml')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/img/eric-holt-550x350px.png')
          .cell.auto
            h5 Eric Holt
            p.text-light
              | I have spent my career learning what I need to know. My passion for technology started early. In sixth grade I got a Tandy 64 for Christmas and started writing color basic out of a book that came with it. I started combining various projects and creating things. I knew then I wanted to be a programmer. Life happens, and other opportunities were available, and I jumped on it. The last 20 years of my professional career have been working in IT and customer support. All of it has been self-taught and early guidance on the job. It’s now time to follow my heart and move into software development. The past year has been spent working during the day and coming home at night to study programming.
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')
          span.title-bar-title Eric Holt
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
