extends layout.pug

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back
    .portfolio-index
        h1 Project Not Found
        p Sorry this project hasn't been created yet. Clearly you can tell I am hard at work on this future project.
        p For now click the back link to see a list of completed projects to pick from!
        img(src='/static/img/programming.gif')